body{
    color: white;
}

a{
    text-decoration: underline;
    
}

h1{
    font-size: 26px;
    background-color: gray;
    width: 200px;
    text-align: center;
}

ul{
    line-height: 45px;
    width: 160px;
    height: 150px;
    background-color: black;
}